<div class="container mt-5">
  <h1>Week 3 - Signals</h1>
  <h3>Petra Poláková</h3>
  <p><b>Student ID: S00239846</b></p>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md p-3 rounded-2" style="border: 5px var(--bs-info-border-subtle) solid">
      <h2>App.component.html</h2>
        <div class="row mt-3">
          <div class="col-md">
            <p><button class="btn btn-success" (click)="increment()">Increment</button></p>
          </div>
          <div class="col-md">
            <p><button class="btn btn-danger" (click)="decrement()">Decrement</button></p>
          </div>
        </div>
      </div>
    <div class="col-md p-3 rounded-2" style="border: 5px var(--bs-success-border-subtle) solid">
      <h2>child1.component</h2>
      <app-child1></app-child1>
    </div>
    <div class="col-md p-3 rounded-2" style="border: 5px var(--bs-success-border-subtle) solid">
      <h2>child2.component</h2>
      <app-child2></app-child2>
    </div>
  </div>
</div>
